[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
"discord.py" = {extras = ["voice"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dev = "python ./__main__.py"
